[submodule "utils/AutoHF"]
	path = utils/AutoHF
	url = https://x-access-token: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@github.com/ryanlevy/AutoHF.git
